/* .mh-skills .mh-professional-skills{
    padding-right: 60px;
    color: white;
}

.mh-skills .mh-professional-skills h3{
    font-size: 30px;
    line-height:  40px;
text-align: center;
font-weight: 400;
margin-bottom: 60px;
font-family: 'Poppins', sans-serif;
color: white;
}

.mh-professional-skills{
   display: inline-block;
   margin: 0 auto;
   float: none;
   width: 48%;
margin-bottom: 30px;
text-align: center;
color: white;
padding-left: 20%;

}

.mh-progress{
    margin-bottom: 10px;
    font: 900 1.14285/1;
    color: white;
}

.mh-progress{
    margin-bottom: 10px;
    font: 900 1.14285/1 Cinzerl, cursive;
    color: white;
}

.mh-progress .progressbar-text{
    color: inherit !important;
    font-family: 'Poppins', sans-serif;
}

.progress.progress-line{
    height: 10px;
    margin-right: 60px;
}

.progress.progress-line .progress-text{
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    transform: translateY(-35%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.mh-progress.mh-progress-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.mh-progress path:nth-child(1){
    stroke: rgba(0, 0, 0, 0.7);
}

.mh-progress path:nth-child(2){
    stroke: #0bceaf !important;
}

.candidatos{
    position: relative;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.candidatos .parcial{
    display: inline-block;
width: 100%;
vertical-align: middle;
}



.candidatos .parcial .info .nome{
   position: absolute;
   top: 0;
   left: 0;
   font-size: 15px;
   font-weight: 600;
   opacity: 0.9;
   font-family: 'Poppins', sans-serif;
}


.candidatos .parcial .info .percentage-num{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
}


.candidatos .parcial .progressBar{
position: relative;
width: 100%;
height: 7px;
margin: 30px 0 2px;
border-radius: 10px;
background: rgba(0,  0, 0, 0, 5);
}

.candidatos .parcial .percentagem{
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0bceaf;
    transition: 3s all;
    animation-name: animationProgress;
    font-family: 'Poppins', sans-serif;
}
 */

















































 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: #e74d06;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .sass{
    width: 80%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 75%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .mongo{
    width: 60%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
